In [ ]:
library(RODBC);

    dsn_driver <- "{IBM DB2 ODBC Driver}"
    dsn_database <- "bludb"
    dsn_hostname <- "2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud"
    dsn_port <- "32328"
    dsn_protocol <- "TCPIP"
    dsn_uid <- "fbk74002"
    dsn_pwd <- "AT3NtKJwZkQp66vg"
    dsn_security <- "ssl"

    conn_path <- paste("DRIVER=",dsn_driver,
                  ";DATABASE=",dsn_database,
                  ";HOSTNAME=",dsn_hostname,
                  ";PORT=",dsn_port,
                  ";PROTOCOL=",dsn_protocol,
                  ";UID=",dsn_uid,
                  ";PWD=",dsn_pwd,
                  ";SECURITY=",dsn_security,
                    sep="")
    conn <- odbcDriverConnect(conn_path)

    sql.info <- sqlTypeInfo(conn)
    conn.info <- odbcGetInfo(conn)
    conn.info["DBMS_Name"]
    conn.info["DBMS_Ver"]
    conn.info["Driver_ODBC_Ver"]

In [7]:
#crop_data
 crop_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Annual_Crop_Data.csv', colClasses=c(YEAR="character"))

In [44]:
#farm_price
price_df<-read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_Farm_Prices.csv",colClasses=c(DATE="character"))

In [45]:
#daily_fx_data
daily_fx_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Daily_FX.csv', colClasses=c(date="character"))

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
“not all columns named in 'colClasses' exist”

In [46]:
#monthlyfx_data
monthly_fx_df <- read.csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv",colClasses=c(DATE="character"))

In [47]:
head(crop_df)
head(price_df)
head(daily_fx_df)
head(monthly_fx_df)

  CD_ID YEAR       CROP_TYPE GEO          SEEDED_AREA HARVESTED_AREA PRODUCTION
1 0     1965-12-31 Barley    Alberta      1372000     1372000        2504000
2 1     1965-12-31 Barley    Canada       2476800     2476800        4752900
3 2     1965-12-31 Barley    Saskatchewan  708000      708000        1415000
4 3     1965-12-31 Canola    Alberta       297400      297400         215500
5 4     1965-12-31 Canola    Canada        580700      580700         512600
6 5     1965-12-31 Canola    Saskatchewan  224600      224600         242700
  AVG_YIELD
1 1825
2 1920
3 2000
4  725
5  885
6 1080

  CD_ID DATE       CROP_TYPE GEO          PRICE_PRERMT
1 0     1985-01-01 Barley    Alberta      127.39
2 1     1985-01-01 Barley    Saskatchewan 121.38
3 2     1985-01-01 Canola    Alberta      342.00
4 3     1985-01-01 Canola    Saskatchewan 339.82
5 4     1985-01-01 Rye       Alberta      100.77
6 5     1985-01-01 Rye       Saskatchewan 109.75

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-03 1.3435
2 1      2017-01-04 1.3315
3 2      2017-01-05 1.3244
4 3      2017-01-06 1.3214
5 4      2017-01-09 1.3240
6 5      2017-01-10 1.3213

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

In [37]:
df1 <- sqlQuery(conn, 
                    "CREATE TABLE CROP_DATA (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      SEEDED_AREA INTEGER NOT NULL,
                                      HARVESTED_AREA INTEGER NOT NULL,
                                      PRODUCTION INTEGER NOT NULL,
                                      AVG_YIELD INTEGER NOT NULL,
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df1 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

An error has occurred.
[1] "42S01 -601 [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name \"FBK74002.CROP_DATA\" of type \"TABLE\".  SQLSTATE=42710\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'CREATE TABLE CROP_DATA (\n                                      CD_ID INTEGER NOT NULL,\n                                      YEAR DATE NOT NULL,\n                                      CROP_TYPE VARCHAR(20) NOT NULL,\n                                      GEO VARCHAR(20) NOT NULL, \n                                      SEEDED_AREA INTEGER NOT NULL,\n                                      HARVESTED_AREA INTEGER NOT NULL,\n                                      PRODUCTION INTEGER NOT NULL,\n                                      AVG_YIELD INTEGER NOT NULL,\n                                      PRIMARY KEY (CD_ID)\n                                      )'"

In [38]:
df2 <- sqlQuery(conn, 
                    "CREATE TABLE FARM_PRICES (
                                      CD_ID INTEGER NOT NULL,
                                      YEAR DATE NOT NULL,
                                      CROP_TYPE VARCHAR(20) NOT NULL,
                                      GEO VARCHAR(20) NOT NULL, 
                                      PRICE_PERMIT FLOAT,
                                      PRIMARY KEY (CD_ID)
                                      )", 
                    errors=FALSE
                    )

    if (df2 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

An error has occurred.
[1] "42S01 -601 [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name \"FBK74002.FARM_PRICES\" of type \"TABLE\".  SQLSTATE=42710\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'CREATE TABLE FARM_PRICES (\n                                      CD_ID INTEGER NOT NULL,\n                                      YEAR DATE NOT NULL,\n                                      CROP_TYPE VARCHAR(20) NOT NULL,\n                                      GEO VARCHAR(20) NOT NULL, \n                                      PRICE_PERMIT FLOAT,\n                                      PRIMARY KEY (CD_ID)\n                                      )'"

In [39]:
df3 <- sqlQuery(conn, "CREATE TABLE DAILY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )",
                    errors=FALSE
                    )

    if (df3 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

An error has occurred.
[1] "42S01 -601 [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name \"FBK74002.DAILY_FX\" of type \"TABLE\".  SQLSTATE=42710\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'CREATE TABLE DAILY_FX (\n                                DFX_ID INTEGER NOT NULL,\n                                DATE DATE NOT NULL, \n                                FXUSDCAD FLOAT(6),\n                                PRIMARY KEY (DFX_ID)\n                                )'"

In [65]:
df4 <- sqlQuery(conn, "CREATE TABLE MONTHLY_FX (
                                DFX_ID INTEGER NOT NULL,
                                DATE DATE NOT NULL, 
                                FXUSDCAD FLOAT(6),
                                PRIMARY KEY (DFX_ID)
                                )",
                    errors=FALSE
                    )

    if (df4 == -1){
        cat ("An error has occurred.\n")
        msg <- odbcGetErrMsg(conn)
        print (msg)
    } else {
        cat ("Table was created successfully.\n")
    }

An error has occurred.
[1] "42S01 -601 [IBM][CLI Driver][DB2/LINUXX8664] SQL0601N  The name of the object to be created is identical to the existing name \"FBK74002.MONTHLY_FX\" of type \"TABLE\".  SQLSTATE=42710\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'CREATE TABLE MONTHLY_FX (\n                                DFX_ID INTEGER NOT NULL,\n                                DATE DATE NOT NULL, \n                                FXUSDCAD FLOAT(6),\n                                PRIMARY KEY (DFX_ID)\n                                )'"

In [41]:
sqlSave(conn, price_df, "FARM_PRICES", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, daily_fx_df, "DAILY_FX", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)
sqlSave(conn, montly_fx_df, "MONTHLY_FX", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)

ERROR: Error in is.data.frame(dat): object 'price_df' not found

In [42]:
tables_to_drop <- c("CROP_DATA", "FARM_PRICES", "DAILY_FX", "MONTHLY_FX")

# Loop through the tables and drop them
for (table_name in tables_to_drop) {
  query <- paste("DROP TABLE IF EXISTS", table_name)
  dbExecute(db_connection, query)

ERROR: Error in parse(text = x, srcfile = src): <text>:7:0: unexpected end of input
5:   query <- paste("DROP TABLE IF EXISTS", table_name)
6:   dbExecute(db_connection, query)
  ^

In [43]:
str(crop_df)

'data.frame':	672 obs. of  8 variables:
 $ CD_ID         : int  0 1 2 3 4 5 6 7 8 9 ...
 $ YEAR          : chr  "1965-12-31" "1965-12-31" "1965-12-31" "1965-12-31" ...
 $ CROP_TYPE     : Factor w/ 4 levels "Barley","Canola",..: 1 1 1 2 2 2 3 3 3 4 ...
 $ GEO           : Factor w/ 3 levels "Alberta","Canada",..: 1 2 3 1 2 3 1 2 3 1 ...
 $ SEEDED_AREA   : int  1372000 2476800 708000 297400 580700 224600 81000 323900 166000 2448000 ...
 $ HARVESTED_AREA: int  1372000 2476800 708000 297400 580700 224600 81000 323900 166000 2448000 ...
 $ PRODUCTION    : int  2504000 4752900 1415000 215500 512600 242700 116400 453400 224000 4164000 ...
 $ AVG_YIELD     : int  1825 1920 2000 725 885 1080 1435 1400 1350 1700 ...

In [ ]:
sqlSave(conn, crop_df, "CROP_DATA", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)

In [ ]:
query = "SELECT COUNT(*) AS record_count FROM FARM_PRICES"
    sqlQuery(conn,query)

In [34]:
query = "SELECT DISTINCT(GEO) FROM FARM_PRICES"
    sqlQuery(conn,query)

  GEO
1 Alberta
2 Saskatchewan

In [285]:
query = "SELECT MIN(YEAR) AS first_date,
                MAX(YEAR) AS last_date
                FROM FARM_PRICES;"
sqlQuery(conn,query)

  FIRST_DATE LAST_DATE
1 1985-01-01 2000-11-01

In [155]:
query = "SELECT MIN(YEAR) AS first_date,
                MAX(YEAR) AS last_date
                FROM FARM_PRICES;"
sqlQuery(conn,query)

  FIRST_DATE LAST_DATE
1 1985-01-01 2000-11-01

In [155]:
query = "SELECT MIN(YEAR) AS first_date,
                MAX(YEAR) AS last_date
                FROM FARM_PRICES;"
sqlQuery(conn,query)

  FIRST_DATE LAST_DATE
1 1985-01-01 2000-11-01

In [155]:
query = "SELECT MIN(YEAR) AS first_date,
                MAX(YEAR) AS last_date
                FROM FARM_PRICES;"
sqlQuery(conn,query)

  FIRST_DATE LAST_DATE
1 1985-01-01 2000-11-01

In [38]:
query = "SELECT CROP_TYPE,PRICE_PERMIT,YEAR
 FROM FARM_PRICES
WHERE PRICE_PERMIT>=350 ORDER BY PRICE_PERMIT LIMIT 10"
sqlQuery(conn,query)

   CROP_TYPE PRICE_PERMIT YEAR
1  Canola    350.04       1985-03-01
2  Canola    350.47       1985-06-01
3  Canola    350.72       1995-08-01
4  Canola    351.92       1999-02-01
5  Canola    352.03       1997-10-01
6  Canola    352.34       1998-10-01
7  Canola    354.05       1988-07-01
8  Canola    354.58       1985-05-01
9  Canola    354.82       1988-07-01
10 Canola    355.36       1998-01-01

In [282]:
query = "SELECT DISTINCT(GEO),CROP_TYPE,AVG_YIELD
    FROM CROP_DATA 
    WHERE YEAR(YEAR)>=2000
    ORDER BY AVG_YIELD DESC
LIMIT 01
;"
sqlQuery(conn,query)

  GEO     CROP_TYPE AVG_YIELD
1 Alberta Barley    4100

In [39]:
query = "SELECT CROP_TYPE AS CROP_RANK, MAX(AVG_YIELD)AS AVG_YIELD_YEAR_2000 
FROM CROP_DATA 
WHERE YEAR(YEAR)=2000 AND GEO='Saskatchewan' 
GROUP BY CROP_TYPE 
ORDER BY AVG_YIELD_YEAR_2000 desc"
sqlQuery(conn,query)

  CROP_RANK AVG_YIELD_YEAR_2000
1 Barley    2800
2 Wheat     2200
3 Rye       2100
4 Canola    1400

In [313]:
query = "SELECT SUM(HARVESTED_AREA) AS total_wheat_harvest
  FROM CROP_DATA
  WHERE YEAR = (SELECT MAX(YEAR) FROM CROP_DATA)
 AND CROP_TYPE = 'Wheat'
  AND GEO = 'Canada'
;"
sqlQuery(conn,query)

  TOTAL_WHEAT_HARVEST
1 10017800

In [315]:
query ="SELECT CD_ID, YEAR, CROP_TYPE, GEO, SEEDED_AREA, HARVESTED_AREA, PRODUCTION, AVG_YIELD, FXUSDCAD  
    FROM CROP_DATA, MONTHLY_FX 
    WHERE YEAR(CROP_DATA.YEAR)=YEAR(MONTHLY_FX.DATE) AND MONTH(CROP_DATA.YEAR)=MONTH(MONTHLY_FX.DATE)
    LIMIT 5;"
sqlQuery(conn,query)

     CD_ID YEAR CROP_TYPE GEO SEEDED_AREA HARVESTED_AREA PRODUCTION AVG_YIELD
     FXUSDCAD

In [316]:
query ="SELECT MAX(YEAR) AS MOST_RECENT_YEAR, 
SUM(HARVESTED_AREA) AS TOT_HARVESTED_WHEAT_CANADA 
FROM CROP_DATA
WHERE YEAR(YEAR)=(SELECT MAX(YEAR(YEAR))FROM CROP_DATA 
WHERE GEO = 'Canada' AND CROP_TYPE  = 'Wheat')"
sqlQuery(conn,query)

  MOST_RECENT_YEAR TOT_HARVESTED_WHEAT_CANADA
1 2020-12-31       38897100

In [324]:
query = "SELECT DATE,CROP_TYPE,GEO,PRICE_PERMIT AS CANADIAN_DOLLARS, 
(PRICE_PERMIT/FXUSDCAD) AS US_DOLLARS, FXUSDCAD 
FROM FARM_PRICES , MONTHLY_FX  
WHERE YEAR(DATE) = YEAR(DATE) 
AND MONTH(DATE) = MONTH(DATE) 
AND CROP_TYPE ='Canola' 
AND GEO = 'Saskatchewan' 
ORDER BY DATE DESC LIMIT 6"
sqlQuery(conn,query)

     DATE CROP_TYPE GEO CANADIAN_DOLLARS US_DOLLARS FXUSDCAD

In [16]:
query = "SELECT SUM(HARVESTED_AREA) AS CANADA_HARVESTED_RYE_1968 FROM CROP_DATA
WHERE GEO = 'Canada' AND CROP_TYPE = 'Rye' AND YEAR(YEAR) = 1968"
sqlQuery(conn,query)

  CANADA_HARVESTED_RYE_1968
1 274100

In [43]:
query = "SELECT CROP_TYPE, GEO, AVG_YIELD 
FROM CROP_DATA
WHERE YEAR(YEAR) >=2000
ORDER BY AVG_YIELD DESC LIMIT 5"
sqlQuery(conn,query)

  CROP_TYPE GEO     AVG_YIELD
1 Barley    Alberta 4100
2 Barley    Alberta 4100
3 Barley    Alberta 3980
4 Wheat     Alberta 3900
5 Barley    Canada  3900

In [44]:
query = "SELECT CROP_TYPE, GEO, AVG_YIELD 
FROM CROP_DATA
WHERE YEAR(YEAR) >=2000
ORDER BY AVG_YIELD DESC LIMIT 1"
sqlQuery(conn,query)

  CROP_TYPE GEO     AVG_YIELD
1 Barley    Alberta 4100

In [78]:
query = "SELECT MAX(YEAR) AS MOST_RECENT_YEAR, 
SUM(HARVESTED_AREA) AS TOT_HARVESTED_WHEAT_CANADA 
FROM CROP_DATA
WHERE YEAR(YEAR)=(SELECT MAX(YEAR(YEAR))FROM CROP_DATA 
WHERE GEO = 'Canada' AND CROP_TYPE  = 'Wheat')"
sqlQuery(conn,query)

  MOST_RECENT_YEAR TOT_HARVESTED_WHEAT_CANADA
1 2020-12-31       38897100

In [77]:
query = "SELECT A.DATE,A.CROP_TYPE,A.GEO,A.PRICE_PRERMT AS CANADIAN_DOLLARS, 
(A.PRICE_PRERMT / B.FXUSDCAD) AS US_DOLLARS, B.FXUSDCAD 
FROM FARM_PRICES A , MONTHLY_FX B 
WHERE YEAR(A.DATE) = YEAR(B.DATE) 
AND MONTH(A.DATE) = MONTH(B.DATE) 
AND CROP_TYPE ='Canola' 
AND GEO = 'Saskatchewan' 
ORDER BY DATE DESC LIMIT 6"
sqlQuery(conn,query)

[1] "42S22 -206 [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  \"A.DATE\" is not valid in the context where it is used.  SQLSTATE=42703\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT A.DATE,A.CROP_TYPE,A.GEO,A.PRICE_PRERMT AS CANADIAN_DOLLARS, \n(A.PRICE_PRERMT / B.FXUSDCAD) AS US_DOLLARS, B.FXUSDCAD \nFROM FARM_PRICES A , MONTHLY_FX B \nWHERE YEAR(A.DATE) = YEAR(B.DATE) \nAND MONTH(A.DATE) = MONTH(B.DATE) \nAND CROP_TYPE ='Canola' \nAND GEO = 'Saskatchewan' \nORDER BY DATE DESC LIMIT 6'"

In [79]:
query = "SELECT DATE,CROP_TYPE,GEO,PRICE_PERMIT AS CANADIAN_DOLLARS, 
(PRICE_PERMIT/FXUSDCAD) AS US_DOLLARS, FXUSDCAD 
FROM FARM_PRICES , MONTHLY_FX   
WHERE CROP_TYPE ='Canola' 
AND GEO = 'Saskatchewan' 
ORDER BY DATE DESC  "
sqlQuery(conn,query)

     DATE CROP_TYPE GEO CANADIAN_DOLLARS US_DOLLARS FXUSDCAD

In [75]:
query="SELECT
    date,
    price_permit AS canadian_dollar_price,
    FXUSDCAD * er.exchange_rate AS us_dollar_price
FROM
    FARM_PRICES
JOIN
    exchange_rates er ON cp.date = er.date
WHERE
    cp.province = 'Saskatchewan'
    AND cp.currency = 'CAD'
    AND er.currency = 'USD'
    AND cp.date >= DATEADD(MONTH, -6, GETDATE())
ORDER BY
    cp.date DESC";
sqlQuery(conn,query)

[1] "42S02 -204 [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  \"FBK74002.EXCHANGE_RATES\" is an undefined name.  SQLSTATE=42704\n"
[2] "[RODBC] ERROR: Could not SQLExecDirect 'SELECT\n    date,\n    price_permit AS canadian_dollar_price,\n    FXUSDCAD * er.exchange_rate AS us_dollar_price\nFROM\n    FARM_PRICES\nJOIN\n    exchange_rates er ON cp.date = er.date\nWHERE\n    cp.province = 'Saskatchewan'\n    AND cp.currency = 'CAD'\n    AND er.currency = 'USD'\n    AND cp.date >= DATEADD(MONTH, -6, GETDATE())\nORDER BY\n    cp.date DESC'"

In [67]:
query="SELECT
    DATE,
    CROP_TYPE,
    GEO,
    PRICE_PERMIT AS CANADIAN_DOLLARS,
    (PRICE_PERMIT/FXUSDCAD) AS US_DOLLARS,
    FXUSDCAD
FROM
    FARM_PRICES,
    MONTHLY_FX
WHERE
    CROP_TYPE = 'Canola'
    AND GEO = 'Saskatchewan'";
sqlQuery(conn,query)

      DATE       CROP_TYPE GEO          CANADIAN_DOLLARS US_DOLLARS FXUSDCAD
1     2017-01-01 Canola    Saskatchewan 339.82           257.5807   1.319276
2     2017-02-01 Canola    Saskatchewan 339.82           259.2609   1.310726
3     2017-03-01 Canola    Saskatchewan 339.82           253.8541   1.338643
4     2017-04-01 Canola    Saskatchewan 339.82           252.8383   1.344021
5     2017-05-01 Canola    Saskatchewan 339.82           249.7382   1.360705
6     2017-06-01 Canola    Saskatchewan 339.82           255.5412   1.329805
7     2017-07-01 Canola    Saskatchewan 339.82           267.8120   1.268875
8     2017-08-01 Canola    Saskatchewan 339.82           269.5964   1.260477
9     2017-09-01 Canola    Saskatchewan 339.82           276.6633   1.228280
10    2017-10-01 Canola    Saskatchewan 339.82           269.5995   1.260462
11    2017-11-01 Canola    Saskatchewan 339.82           266.1318   1.276886
12    2017-12-01 Canola    Saskatchewan 339.82           266.0970   1.277053
13    2018-01-01 Canola    Saskatchewan 339.82           273.4439   1.242741
14    2018-02-01 Canola    Saskatchewan 339.82           269.9939   1.258621
15    2018-03-01 Canola    Saskatchewan 339.82           262.7804   1.293171
16    2018-04-01 Canola    Saskatchewan 339.82           266.8903   1.273257
17    2018-05-01 Canola    Saskatchewan 339.82           263.9733   1.287327
18    2018-06-01 Canola    Saskatchewan 339.82           258.8401   1.312857
19    2018-07-01 Canola    Saskatchewan 339.82           258.8099   1.313010
20    2018-08-01 Canola    Saskatchewan 339.82           260.5746   1.304118
21    2018-09-01 Canola    Saskatchewan 339.82           260.6675   1.303653
22    2018-10-01 Canola    Saskatchewan 339.82           261.2081   1.300955
23    2018-11-01 Canola    Saskatchewan 339.82           257.4320   1.320038
24    2018-12-01 Canola    Saskatchewan 339.82           252.9959   1.343184
25    2019-01-01 Canola    Saskatchewan 339.82           255.4845   1.330100
26    2019-02-01 Canola    Saskatchewan 339.82           257.3306   1.320558
27    2019-03-01 Canola    Saskatchewan 339.82           254.2004   1.336819
28    2019-04-01 Canola    Saskatchewan 339.82           254.0195   1.337771
29    2019-05-01 Canola    Saskatchewan 339.82           252.4844   1.345905
30    2019-06-01 Canola    Saskatchewan 339.82           255.7480   1.328730
⋮     ⋮          ⋮         ⋮            ⋮                ⋮          ⋮
21571 2018-09-01 Canola    Saskatchewan 507.33           389.1603   1.303653
21572 2018-10-01 Canola    Saskatchewan 507.33           389.9674   1.300955
21573 2018-11-01 Canola    Saskatchewan 507.33           384.3299   1.320038
21574 2018-12-01 Canola    Saskatchewan 507.33           377.7070   1.343184
21575 2019-01-01 Canola    Saskatchewan 507.33           381.4224   1.330100
21576 2019-02-01 Canola    Saskatchewan 507.33           384.1785   1.320558
21577 2019-03-01 Canola    Saskatchewan 507.33           379.5054   1.336819
21578 2019-04-01 Canola    Saskatchewan 507.33           379.2353   1.337771
21579 2019-05-01 Canola    Saskatchewan 507.33           376.9434   1.345905
21580 2019-06-01 Canola    Saskatchewan 507.33           381.8157   1.328730
21581 2019-07-01 Canola    Saskatchewan 507.33           387.2438   1.310105
21582 2019-08-01 Canola    Saskatchewan 507.33           382.0981   1.327748
21583 2019-09-01 Canola    Saskatchewan 507.33           383.1653   1.324050
21584 2019-10-01 Canola    Saskatchewan 507.33           384.6390   1.318977
21585 2019-11-01 Canola    Saskatchewan 507.33           383.2145   1.323880
21586 2019-12-01 Canola    Saskatchewan 507.33           385.1667   1.317170
21587 2020-01-01 Canola    Saskatchewan 507.33           387.6675   1.308673
21588 2020-02-01 Canola    Saskatchewan 507.33           381.8577   1.328584
21589 2020-03-01 Canola    Saskatchewan 507.33           363.6123   1.395250
21590 2020-04-01 Canola    Saskatchewan 507.33           360.8871   1.405786
21591 2020-05-01 Canola    Saskatchewan 507.33           363.1646   1.396970
21592 2020-06-01 Canola    Saskatchewan 507.33           374.4045   1.355032
21593 2020-07-01 Canola    Saskatchewan 507.33           375.8417   1.349850
21594 2020-08-01 Canola    Saskatchewan 507.33           383.7000   1.322205
21595 2020-09-01 Canola    Saskatchewan 507.33           383.5245   1.322810
21596 2020-10-01 Canola    Saskatchewan 507.33           383.9131   1.321471
21597 2020-11-01 Canola    Saskatchewan 507.33           388.2172   1.306820
21598 2020-12-01 Canola    Saskatchewan 507.33           396.1130   1.280771
21599 2021-01-01 Canola    Saskatchewan 507.33           398.7174   1.272405
21600 2021-02-01 Canola    Saskatchewan 507.33           398.0739   1.274462

In [62]:
query="SELECT FXUSDCAD FROM DAILY_FX";
sqlQuery(conn,query)

     FXUSDCAD

In [63]:
monthly_df <- read.csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-RP0203EN-SkillsNetwork/labs/Final%20Project/Monthly_FX.csv', colClasses=c(DATE="character"))
head(monthly_df)

  DFX_ID DATE       FXUSDCAD
1 0      2017-01-01 1.319276
2 1      2017-02-01 1.310726
3 2      2017-03-01 1.338643
4 3      2017-04-01 1.344021
5 4      2017-05-01 1.360705
6 5      2017-06-01 1.329805

In [64]:
sqlSave(conn, monthly_df, "MONTHLY_FX", append=TRUE, fast=FALSE, rownames=FALSE, colnames=FALSE, verbose=FALSE)

ERROR: Error in sqlSave(conn, monthly_df, "MONTHLY_FX", append = TRUE, fast = FALSE, : unable to append to table ‘MONTHLY_FX’

In [68]:
query="SELECT
    DATE,
    CROP_TYPE,
    GEO,
    PRICE_PERMIT AS CANADIAN_DOLLARS,
    (PRICE_PERMIT / FXUSDCAD) AS US_DOLLARS,
    FXUSDCAD
FROM
    FARM_PRICES,
    MONTHLY_FX
WHERE
    CROP_TYPE = 'Canola'
    AND GEO = 'Saskatchewan'
ORDER BY
    DATE DESC limit 06";
sqlQuery(conn, query)

  DATE       CROP_TYPE GEO          CANADIAN_DOLLARS US_DOLLARS FXUSDCAD
1 2021-02-01 Canola    Saskatchewan 339.82           266.6380   1.274462
2 2021-02-01 Canola    Saskatchewan 350.47           274.9945   1.274462
3 2021-02-01 Canola    Saskatchewan 359.99           282.4643   1.274462
4 2021-02-01 Canola    Saskatchewan 364.36           285.8932   1.274462
5 2021-02-01 Canola    Saskatchewan 349.77           274.4452   1.274462
6 2021-02-01 Canola    Saskatchewan 341.26           267.7679   1.274462